<html lang="ar" dir="rtl"><head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-7mQhpDl5nRA5nY9lr8F1st2NbIly/8WqhjTp+0oFxEA/QUuvlbF6M1KXezGBh3Nb" crossorigin="anonymous">

  
</head>
<body>
  <div>
      <img src="https://media.istockphoto.com/id/1339787499/photo/empty-dark-blue-studio-room-with-light-and-shadow-abstract-background-copy-space-studio-room.jpg?b=1&amp;s=170667a&amp;w=0&amp;k=20&amp;c=sEYFpHbrxOugC-NlO4vh1AQurJAsR-RnLbg_KHgj3kM=" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb KAlRDb" alt="900+ Website Background Images: Download HD Backgrounds on Unsplash" data-noaft="1" style="width: 1518px;height: 1402px;margin: 0px;position: absolute;">
  </div>
  <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img class="_2r_T1I _396QI4" alt="" src="https://rukminim1.flixcart.com/image/832/832/xif0q/shirt/q/o/k/l-sshh-chi-7-jai-textiles-original-imagguqnmdha7hf8.jpeg?q=70" style="
    height: 577px;
">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://www.flipkart.com/jai-textiles-men-solid-casual-white-shirt/p/itmfactfxj4cqszw?pid=SHTFACSAKRSVRGFG&amp;cmpid=product.share.pp&amp;_refId=PP.159327b1-e0e4-4cb9-b178-7ff03a59677c.SHTFACSAKRSVRGFG&amp;_appId=WA" class="btn btn-primary" style="
cursor: pointer;
font-style: normal;
text-align: center;
letter-spacing: 0.0015em;
font-size: 15px;
line-height: 20px;
border-radius: 4px;
color: rgb(255, 255, 255);
background: rgb(244, 51, 151);
border: none;
padding: 12px;
flex: 1 1 0%;
display: flex;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
">Buy Now </a>
  
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="_2r_T1I _396QI4" alt="" src="https://rukminim1.flixcart.com/image/832/832/l02r1jk0/shirt/k/t/o/m-fbrml-r-fibermill-original-imagbxyu8bagmg7n.jpeg?q=70" style="
    height: 577px;
">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://www.flipkart.com/fibermill-men-solid-formal-light-blue-shirt/p/itmd52b031869fd7?pid=SHTGBXYVSKKYZZND&amp;cmpid=product.share.pp&amp;_refId=PP.fcdea50f-5a19-4147-afa2-c3578a2f613d.SHTGBXYVSKKYZZND&amp;_appId=WA" class="btn btn-primary" style="
cursor: pointer;
font-style: normal;
text-align: center;
letter-spacing: 0.0015em;
font-size: 15px;
line-height: 20px;
border-radius: 4px;
color: rgb(255, 255, 255);
background: rgb(244, 51, 151);
border: none;
padding: 12px;
flex: 1 1 0%;
display: flex;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
">Buy Now </a>
  
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="_2r_T1I _396QI4" alt="" src="https://rukminim1.flixcart.com/image/832/832/xif0q/shirt/9/7/1/xxl-bwtblshirttfull-sr2-blive-original-imaghkfye6xfkx2s.jpeg?q=70" style="
    height: 577px;
">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://www.flipkart.com/blive-men-color-block-casual-white-black-shirt/p/itmf7c3c31307d91?pid=SHTGFPPFWWCUBAE5&amp;cmpid=product.share.pp&amp;_refId=PP.3ad16aa7-bc4c-4b49-89e5-ed96baa1e782.SHTGFPPFWWCUBAE5&amp;_appId=WA" class="btn btn-primary" style="
cursor: pointer;
font-style: normal;
text-align: center;
letter-spacing: 0.0015em;
font-size: 15px;
line-height: 20px;
border-radius: 4px;
color: rgb(255, 255, 255);
background: rgb(244, 51, 151);
border: none;
padding: 12px;
flex: 1 1 0%;
display: flex;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
">Buy Now </a>
  
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <img class="_2r_T1I _396QI4" alt="" src="https://rukminim1.flixcart.com/image/832/832/kxp0mfk0/shirt/u/f/q/44-81-shirts-multicolor-fabled-original-imaga3fqby4rhrvh.jpeg?q=70" style="
    height: 577px;
">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://www.flipkart.com/fabled-men-solid-casual-dark-green-shirt/p/itmd81413ba57bd9?pid=SHTGA3FRHAYQSVCQ&amp;cmpid=product.share.pp&amp;_refId=PP.5f324075-b8b9-4c5e-9399-b1457a41ef63.SHTGA3FRHAYQSVCQ&amp;_appId=WA" class="btn btn-primary" style="
cursor: pointer;
font-style: normal;
text-align: center;
letter-spacing: 0.0015em;
font-size: 15px;
line-height: 20px;
border-radius: 4px;
color: rgb(255, 255, 255);
background: rgb(244, 51, 151);
border: none;
padding: 12px;
flex: 1 1 0%;
display: flex;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
">Buy Now </a>
  
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="_2r_T1I _396QI4" alt="" src="https://rukminim1.flixcart.com/image/832/832/kwnv6a80/trouser/r/l/r/34-hltr004747-highlander-original-imag9aafqyharfnc.jpeg?q=70" style="
    height: 577px;
">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://www.flipkart.com/highlander-tapered-men-light-green-trousers/p/itm59c222d176e13?pid=TROG9AAGV245YNMY&amp;cmpid=product.share.pp&amp;_refId=PP.472897b2-4643-4603-bddb-3059d5e7e7a7.TROG9AAGV245YNMY&amp;_appId=WA" class="btn btn-primary" style="
cursor: pointer;
font-style: normal;
text-align: center;
letter-spacing: 0.0015em;
font-size: 15px;
line-height: 20px;
border-radius: 4px;
color: rgb(255, 255, 255);
background: rgb(244, 51, 151);
border: none;
padding: 12px;
flex: 1 1 0%;
display: flex;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
">Buy Now </a>
  
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="_2r_T1I _396QI4" alt="" src="https://rukminim1.flixcart.com/image/832/832/l4zxn680/trouser/3/x/w/38-el-p-cot-el-cielo-original-imagfrqkcgbrfaez.jpeg?q=70" style="
    height: 577px;
">

              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://www.flipkart.com/el-cielo-regular-fit-men-blue-trousers/p/itmde9fd38a787e4?pid=TROGEJJ6Z7JUGJZZ&amp;lid=LSTTROGEJJ6Z7JUGJZZ4PNYDW&amp;marketplace=FLIPKART&amp;q=trouser+pants+for+men&amp;store=clo%2Fvua%2Fmle%2Flhk&amp;srno=s_1_1&amp;otracker=search&amp;otracker1=search&amp;fm=Search&amp;iid=en_2HfSjdSLFLFZ%2F2UdV%2FR1FJOIvi5r3jiP1x3htyPNapoE6AnBoVqIKAFO29F1UiYHtp9zBoYRi1ediVD095TkJQ%3D%3D&amp;ppt=sp&amp;ppn=sp&amp;ssid=7gq3r9kr340000001667718304510&amp;qH=dcb8f8e874d05daa" class="btn btn-primary" style="
cursor: pointer;
font-style: normal;
text-align: center;
letter-spacing: 0.0015em;
font-size: 15px;
line-height: 20px;
border-radius: 4px;
color: rgb(255, 255, 255);
background: rgb(244, 51, 151);
border: none;
padding: 12px;
flex: 1 1 0%;
display: flex;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
">Buy Now </a>
  
                </div>
              </div>
            </div>
          </div>
  
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  -->


</div></div></div></body></html>