<html><head>
  <title>Real Time Face Recognition</title>
</head>
<body>
  <div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDCIQhBFvy39pOxgX4jG7BgFisglGbFlr6Hw&amp;usqp=CAU" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="Backgrounds, 1000000+ Background Images, Wallpaper, Poster, Banners for  Free Download" data-noaft="1" style="
    position: absolute;
    height: 702px;
"></div>
  <div style="
  position: absolute;
  top: 10px;
  left: 347px;
"><button type="button" class="btn btn-primary" style="
  height: 75px;
  background-color: aqua;
  font-size: 3em;
">"The joy of dressing is an art."</button></div>
<img src="/recognitionvideo_fee" style="
    position: absolute;
    top: 115px;
    left: 350px;
"><div style="
position: absolute;
top: 618px;
left: 240px;
">
<a href="/recognitionCamel" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true" style="margin: 5px;background-color:#C4926B;color: black;padding-block: 30px;padding-right: 15px;padding-left: 15px;position: absolute;top: 1px;left: 104px;">Camel</a>
<a href="/recognitionTan" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true" style="margin: 5px;background-color: #DEB79A;color: black;padding-block: 31px;padding-right: 25px;padding-left: 25px;position: absolute;top: 1px;left: 195px;">Tan</a>
<a href="/recognitionTumbleweed" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true" style="margin: 5px;background-color: #D6AB8A;color: black;padding-block: 31px;padding-right: 25px;padding-left: 25px;position: absolute;top: 1px;left: 287px;">Tumbleweed</a>
<a href="/recognitionAntique_Brass" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true" style="margin: 5px;background-color: #CD9E7B;color: black;padding-block: 21px;padding-right: 15px;padding-left: 15px;position: absolute;top: 1px;left: 438px;">Antique Brass</a>
<a href="/recognitionPastle_Brown" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true" style="margin: 5px;background-color: #E7C4A9;color: black;padding-block: 21px;padding-right: 25px;padding-left: 25px;position: absolute;top: 1px;left: 541px;">Pastle Brown</a>
<a href="/recognitionDesert_sand" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true" style="margin: 5px;background-color: #F0D0B9;color: black;padding-block: 21px;padding-right: 25px;padding-left: 25px;position: absolute;top: 1px;left: 653px;">Desert sand</a>
<!-- <a href="/recognitionDesert_sand" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true" style="margin: 5px;background-color: #9c7248;color: black;padding-block: 31px;padding-right: 25px;padding-left: 25px;position: absolute;top: 1px;left: -33px;">Tuscany</a> -->
<!-- <a href="/recognitionDesert_sand" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true" style="margin: 5px;background-color: #A57164;color: black;padding-block: 12px;padding-right: 25px;padding-left: 25px;position: absolute;top: 1px;left: 724px;">Blast-off Bronze</a> -->
<!-- <a href="/recognitionDesert_sand" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true" style="margin: 5px;background-color: #926a2d;color: black;padding-block: 31px;padding-right: 25px;padding-left: 25px;position: absolute;top: 1px;left: 832px;">liver(organ)</a> -->
</div></body></html>